<section id="about" class="section-title home thumbnail text-center">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div data-aos="fade-left" class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="60" role="img"
                            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Equipo</text>
                        </svg>
                        <div class="card-body">
                            <img src="assets/img/nosotros.jpg" alt="" style="width: 100%; height: 100%;">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div data-aos="zoom-in" class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="60"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Almacen</text>
                        </svg>
                        <div class="card-body">
                            <img src="assets/img/bodega.jpg" alt="" style="width: 100%; height: 100%;">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div data-aos="fade-right" class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="60"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Tienda</text>
                        </svg>
                        <div class="card-body">
                            <img src="assets/img/entrada.jpg" alt="" style="width: 100%; height: 100%;">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div data-aos="fade-right" class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="60"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Empresa</text>
                        </svg>
                        <div class="card-body">
                            <img src="assets/img/empresa.jpg" alt="" style="width: 100%; height: 100%;">
                            <div class="d-flex justify-content-between align-items-center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-details" class="about section-bg"> <!-- Cambia el id aquí -->
    <div class="container" data-aos="fade-up">
        <div class="row no-gutters">
            <div class="content col-xl-5 d-flex align-items-stretch">
                <div class="content">
                    <h3>HISTORIA</h3>
                    <p>
                        IKOMI PERU es una compañía dedicada a la importación y comercialización de repuestos
                        automotrices al por
                        mayor y por menor para vehículos medianos y pesados de las principales marcas de origen koreano
                        y
                        japonés.
                    </p>
                    <p>
                        Nuestra empresa viene satisfaciendo las necesidades del rubro a nivel nacional desde 2009,
                        cumpliendo
                        con los estándares de calidad, seguridad y sostenibilidad que el mercado actual demanda.
                    </p>
                    <p>
                        IKOMI PERU, además de 15 años de presencia en el mercado peruano, cuenta con el respaldo de sus
                        más de
                        3000 clientes y se posiciona como una de las empresas más destacadas en el rubro a nivel
                        nacional.
                    </p>
                </div>
            </div>
            <div class="col-xl-7 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-receipt"></i>
                            <h4>Misión</h4>
                            <p>
                                En IKOMI PERU, nos comprometemos a satisfacer a nuestros clientes a través de
                                colaboradores
                                capacitados y mejora continua en la cadena de suministro. Valoramos la responsabilidad
                                social y
                                sostenibilidad, buscando un sistema de distribución ágil y seguro, minimizando nuestro
                                impacto
                                ambiental para construir un futuro ético y sostenible.
                            </p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-cube-alt"></i>
                            <h4>Visión</h4>
                            <p>
                                En IKOMI PERU, buscamos ser líderes reconocidos en el rubro automotriz, destacándonos
                                por la calidad
                                excepcional de nuestros productos y servicios. Nos esforzamos por superar expectativas,
                                impulsados
                                por la innovación constante y la excelencia en la satisfacción del cliente.
                            </p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-images"></i>
                            <h4>Proveedores</h4>
                            <p>
                                Entre nuestros proveedores se encuentran las mejores compañías de manufactura a nivel
                                global, muchas
                                de ellas certificadas con ISO 9001. Nuestras relaciones comerciales nos permiten
                                realizar
                                importaciones provenientes de diversas partes del mundo, potenciando el stock disponible
                                con más de
                                5000 ítems diferentes.
                            </p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-shield"></i>
                            <h4>Logística</h4>
                            <p>
                                La logística, se ha convertido para IKOMI PERU en una herramienta indispensable para ser
                                eficiente,
                                rentable y competitivo dentro de las exigencias del mercado actual de almacenamiento y
                                distribución
                                de pedidos de repuestos.
                            </p>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>
    </div>
</section><!-- End About Section -->
